body{
	background: #ddd;
}
a{
	text-decoration: none;
}
#main{
	width: 1120px;
	margin-left: auto;
	margin-right: auto;
}
#header{
	width: 1118px;
	height: 286px;
	background: #999;
	border: 1px solid black;
	border-radius: 15px 15px 0px 0px;
	color: gold;
	text-align: center;
}
.HeaderImage{
	width: 100px;
	height: 100px;
	margin-top: -100px;
	margin-left: 950px;
}
#menu{
	width: 300px;
	height: 800px;
	float: left;
	margin-top: 15px;
	padding-top: 25px;
	background: linear-gradient(to bottom,#444,#ccc);
	border: 1px solid black;
}
#navigation{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 4px solid gold;
	color: white;
	font-size: 24px;
	text-align: center;
}
#link{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: white;
	font-size: 22px;
	text-align: left;
	text-indent: 25px;
	background: #555;
	border: 1px solid grey;
}
#link:hover{
	background: #000;
	border: 1px solid white;
	margin-bottom: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}
#content1,#content2,#content3,#content4,#content5,#content6,#content7,#content8{
	width: 750px;
	height: 800px;
	background: #eee;
	float: right;
	margin-top: 15px;
	padding-top: 25px;
	padding-left: 25px;
	padding-right: 25px;
	border: 1px solid black;
	font-size: 16px;
}
#content2,#content3,#content4,#content5,#content6,#content7,#content8{
	display: none;
}
#footer{
	width: 100%;
	height: 40px;
	border: 1px solid black;
	border-radius: 0px 0px 15px 15px;
	margin-top: 855px;
	padding-top: 10px;
	background: linear-gradient(to right, #ccc, #000);
	color: white;
	font-size: 22px;
	text-align: center;
}